<div class="row py-5">
	<div class="col-md-10">
		<input type="text" name="todo" [(ngModel)]="todo" class="form-control" />	
	</div>
	<div class="col-md-2">
		<button class="btn btn-primary" (click)="addTodo()">Add</button>
	</div>
</div>

<div class="row px-3">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Todo</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of todos">
				<td>
					<input type="checkbox" name="status" class="form-control" [checked]="item.status=='Completed'" (change)="onStatusChange(item)"/>
				</td>
				<td class="completed" *ngIf="item.status=='Completed'">{{item.todo}}</td>
				<td *ngIf="item.status!='Completed'" (dblclick)="item.editing = true">
					
					<span *ngIf="!item.editing">{{item.todo}}</span>
					<form *ngIf="item.editing" (ngSubmit)="updateTodo(item)">
						<input type="text" name="todo" [(ngModel)]="item.todo" class="form-control" (blur)="item.editing = false" />
					</form>
				</td>
				<td>{{item.status}}</td>
				<td><a href="javascript:void(0)" (click)="remove(item._id)" title="Remove"><i class="fa fa-remove"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>